<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 colfooter">
                <div class="logofooter">
                    <img src="assets/img/logo.png" alt="Logo de la emisora" height="170px">
                </div>
            </div>
            <div class="col-md-6">
                <br><br>
                <div class="redes">
                    <h5>Recuerda que puedes seguirnos en nuestras Redes Sociales</h5>
                </div>
                <ul class="list-unstyled redes">
                    <li><a href="https://www.facebook.com/suba.alaire.3/"><img src="assets/img/facebook.png"
                                alt="Facebook" height="50px"></a></li>
                    <li><a href="https://www.instagram.com/subalaire/"><img src="assets/img/instagram.png"
                                alt="Instagram" height="50px"></a></li>
                    <li><a href="https://twitter.com/Subaalaire"><img src="assets/img/twitter.png" alt="twitter"
                                height="50px"></a></li>
                    <li><a href="https://www.tiktok.com/@subaalarie_88.4_fm"><img src="assets/img/tiktok.png"
                                alt="tiktok" height="50px"></a></li>

                </ul>
            </div>
            <div class="col-md-3 colfooter">
                <h4>Contactanos:</h4>
                <p>Teléfono: 3162820055</p>
                <p>Correo: subaalaire88.4fm@gmail.com</p>
                <p>Dirección: Cl. 147 #101-56, Suba, Bogotá. Centro Comercial Fiesta Suba Local 202</p>
                <br>
            </div>
        </div>
    </div>
</footer>